.wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.authorizeMessage {
    font-weight: bolder;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
}

.error {
    color: red;
}

.success {
    color: green;
}

.hidden {
    display: none;
}