.header {
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.email{
    font-weight: bolder;
    color: white;
    margin-right: 20px;
}

.wrapper_button{
  position: relative;
  display: flex;
  align-items: center
}