.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    border: 1px solid #192024;
    border-radius: 25px;
    background-color: white;
    font-weight: bolder;
    font-size: 1.1em;
}

.button i {
    padding-left: 5px;
}

.button:hover,
.button:focus {
    cursor: pointer;
    color: black;
    box-shadow: 2px 2px 1px #ff824d;
}